<style>
body{
    background-color: #EAF4FF;
    font-family: "Lato", sans-serif;
}
#mySearchInput {
    background-color: #ADD6FF;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ffffffaa;
    border-radius: 0px 4px 4px 0px;
    margin-left: -1px;
    margin-right: 5px;
    color:black;
}

#mySearchInput::placeholder{
    color:black;
}

#selectfield{
    background-color: #ADD6FF;
    width: fit-content;
    height: 38px;
    color: black;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ddd;
    border-radius: 4px 0px 0px 4px;
    margin-left: 20px;
}
    
option{
    color: black;
    border-radius: 5px;
}

option:hover{
    background-color: yellow;
    color: #ffffffaa;
}
.brand{
    color:#243444;
    font-size: x-large;
    text-decoration: none;
}
.brand:hover{
    color: #000000;
    text-decoration: none;
}

nav{
    color: #000000;
}
nav.a{
    color: #000000;
}
/* .nav-link{
    color: #ffffff;
} */
.navcolor{
    background-color: #84C1FF;
    opacity: 1.0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ADD6FF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1b2733;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
  background-color: #ffffff11;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sideNavButton{
    margin-left: -7px;
    font-size:30px;
    cursor:pointer;
    color: #000000;
    background-color: #ffffff55;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
}
.sideNavButton:hover{
    background-color: #ffffff99;
    transition: 0.3s;
}

.body-content{
    /* margin: 90px 150px 50px 150px; */
    margin: 5vmax 12vmax 5vmax 12vmax;
}

</style>